pyTelegramBotAPI~=4.27.0
vosk~=0.3.45
torch~=2.7.1
sounddevice~=0.5.2
soundfile~=0.13.1
requests~=2.32.3
numpy~=2.3.0
sentence-transformers~=4.1.0
transformers~=4.52.4
# ffmpeg is to be downloaded using: choco install ffmpeg-full