vosk~=0.3.45
torch~=2.7.1
sounddevice~=0.5.2
soundfile~=0.13.1
numpy~=2.3.0
sentence-transformers~=4.1.0
transformers~=4.52.4
# ffmpeg is to be downloaded using: choco install ffmpeg-full
telegram~=0.0.1
python-telegram-bot~=21.11.1
aiosqlite~=0.21.0
faiss-cpu~=1.11.0